@import 'constants';
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Fira+Code:wght@300;400;500;600;700&family=Jura:wght@300;600&family=Kdam+Thmor+Pro&display=swap');

@import 'buttons';
@import 'works';
@import "~bootstrap/scss/bootstrap"; // importando bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body, html, button{
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    background-color: $colorWhite;
    color: $colorTxt;
}

h1{
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

button{
    cursor: pointer;
    margin: auto;
    padding:10px 15px;
    color: $colorTxt;

}

a{
    text-decoration: none;
}

.container{
    padding: 1rem;
    @media screen and (min-width: 800px){
        max-width: 900px !important;
    }
    @media screen and (min-width: 1000px){
        max-width: 1200px !important;
    }
}

.a-classic{
    position: relative;
    margin: 0 10px;
    &:not(.active):hover::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 2px $colorBtn;
        animation: left_to_right .3s linear forwards;

    }

}

.active{
    color: $colorBtn !important;
    border-bottom: solid 2px $colorBtn;
}

@keyframes left_to_right {
    0%{
        width: 0%
    };
    100%{
        width: 100%;
    }

}

.titulo2{
    opacity: 75%;
    padding: 10px;
}

.section-form{
    padding: 2rem;
    margin: 0 15rem;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 15px $colorShadown;
    @media screen and (max-width: 1000px) {
        margin: auto;
    }
}
.all-height{
    min-height: 100vh;
}


.icons-foter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    width: 30%;
    margin: 20px auto;
    &>a{
        margin: 20px auto;
        transition: 0.5s;
        padding: 0 5px;


        & > .bi{
            color: $colorWhite;
            border: 2px dashed #ffffff7c;
            border-radius: 50%;
            padding: 11px 14px;
            &:hover{
                transition: 0.5s;

                background-color: $colorWhite;
                color: $colorBtn;
            }
        }
        &:hover{
            transform: rotate(360deg);
        }
    }

}
.start-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    align-items: center;
    background-color: $colorProject;
    margin: -90px auto 24px auto;
    border-radius: 2rem;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 50%);

    & > span{
        font-size: 1rem;
        width: 25%;
        text-align: center;
        padding: 10px;

        & > h3 {
            font-weight: 800;
        }

        & a{
            text-decoration: none;
            color: $colorWhite;
        }


    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        & > span {
            width: 100%;
        }
    }
}

.success-img{
    width: 50%;
    margin: auto;
}

.recaptcha{
    & div{
        & div{
            margin: 1rem auto;
        }

    }
}

.card-text{
    color: $colorTxt;
    & .card-subtitle{
        opacity: 50%;
    }
}

.card-tecnologias{
    transition: 0.5s;
    min-height: 50vh;
    box-shadow: 1px 1px 10px $colorShadown;
    &:hover{
        box-shadow: 10px 10px 20px #ffffff9d;
        transform: translateY(-1.5rem);
    }
}


.line-div{
    position: absolute;
    height: -webkit-fill-available;
    width: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    left: 50%;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.card-eng-dev{
    text-align: center;
    padding: 50px 45px;
    border: none;

    & img{
        width: 25%;
        margin: auto;
    }
}
.pading-over{
    padding-top: 30px;
    padding-bottom: 130px;
}

.marginOver{
    margin-top: -175px;
}


.text-blue{
    color: $colorBtn;
}

.ul-softwares{
    list-style: none;
    padding-left: 0;
}


